/*default3.css*/

body {
  background-color: gray;
	min-width: 800px;
	min-height: 1000px;
	font-family:cursive;
	width: 80%;
	margin: auto;
	margin-top: 20px;
}

#banner {
  border: 2px solid black;	
	background-color: black;
  padding-top: 20px;
	height: 55px;
	text-align: center;
	color: red;
	}

#banner h1 {
  margin: 0px;
}

#menu {
  margin: 1% 1% 1% 0px;
  width: 20%;
  height: 350px;
	padding: 1%;
	font-size: 24px;
	float: left;
  color: red;	
	background-color: black;
}

#menu ul {
  margin: 0px;
  list-style-type: none;
	text-align: center;
	
	margin-left: -10px;
}

#menu li {
  margin-bottom: 10px;
}

#menu p {
  margin: 0px;
	margin-bottom: 10px;
	text-align: center;
}

#menu a {
	text-align: center;
}

#menu a:link {
  		color: gray;
}

#menu a:visited {
 	color: red;
}

#menu a:hover {
  color: black;
	background-color: red;
}

#content {
  border-left: 50px solid black;
	padding: 2%;
	height: 350px;
	background-color: white;
	overflow-Y: scroll;
}

#content h2 {
	color: green;
	/* Changed header color*/
}

#content h1 {
 color: gray;
}

#footer {
  background-color: black;
	color: red;	
  padding: 1%;
  clear: both;
	height: 50px;
}